<div class="index_container">


  <div class="main_header">
    <div class="categories_container">
      <Application::Categories as |category|>
        {{category.link 'ELECTRONICS' 'electronics'}}
        {{category.link 'COMPUTERS' 'computers'}}
        {{category.link 'ARTS' 'arts'}}
        {{category.link 'WOMEN\'s FASHION' 'women'}}
        {{category.link 'MEN\'s FASHION' 'men'}}
      </Application::Categories>
    </div>
    <Header />
  </div>

  <h3 class="special_offer">Special Offer</h3>

  <div class="products">
    {{#each model as |model|}}
    <Products::ProductItem @deleteProduct={{this.deleteProduct}} @updateProduct={{this.updateProduct}} @model={{model}}
      @img={{model.image}} @title={{model.title}} @price={{model.price}} />
    {{/each}}
  </div>
  {{!-- 
  {{#each product as |product|}}
  <h1>{{product.title}}</h1>
  {{/each}} --}}
  {{#each model as |product|}}
  <h1>{{product.title}}</h1>
  {{/each}}

</div>