<div class="item">
  <img src={{this.model.image}} alt={{this.model.image}} class="item_image">
  <h2 class="item_title">{{this.model.title}}</h2>
  <p class="item_price">{{this.model.price}}</p>
  <button type="button" {{on "click" this.addToCart}}>Add to Cart</button>
  <p class="item_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat sequi sunt illum
    consectetur earum eius, aliquid
    natus enim voluptate! Laudantium inventore eum blanditiis aspernatur temporibus nihil nostrum asperiores deleniti
    quisquam!</p>
  <ul class="item_features">
    <li>Quaerat sequi sunt illum consectetur earum eius, aliquid
      natus enim voluptate!</li>
    <li>Quaerat sequi sunt illum consectetur earum eius, aliquid
      natus enim voluptate!</li>
    <li>Quaerat sequi sunt illum consectetur earum eius, aliquid
      natus enim voluptate!</li>
    <li>Quaerat sequi sunt illum consectetur earum eius, aliquid
      natus enim voluptate!</li>
    <li>Quaerat sequi sunt illum consectetur earum eius, aliquid
      natus enim voluptate!</li>
    <li>Quaerat sequi sunt illum consectetur earum eius, aliquid
      natus enim voluptate!</li>
  </ul>
</div>

<button type="button" {{on "click" (fn this.deleteProduct @this.model.id)}}>DELETE PRODUCT</button>