<div class="item">
  <LinkTo class="item_link" @route="item" @model={{this.args.model}}>
    <div class="product">
      <img src={{this.args.img}} alt="shoes" class="product_img" />
      <div class="product_title">{{@title}}</div>
      <div class="product_price">{{@price}}</div>
    </div>
  </LinkTo>
  <div class="item-btns">
    <button class="item-btn" type="button" {{on "click" (fn this.args.deleteProduct @this.model.id)}}>Remove</button>
    <button class="item-btn" type="button" {{on "click" (fn this.args.updateProduct @this.model.id)}}>Update</button>
  </div>
</div>