<header>
  <nav class="nav">
    <div class="nav_logo">LOGO</div>
    {{#if (media 'isMobile')}}
    <button class="nav_hamburger" {{on "click" this.toggleNav}}>
      &#9776;
    </button>
    {{#if this.isShowingNav}}
    {{#modal-dialog targetAttachment='left' onClose=(action toggleNav)}}
    <div class="nav_links_mobile" {{action this.toggleNav}}>

      {{yield (hash template=(component "link-to" class="nav_links_item_mobile"))}}

    </div>
    {{/modal-dialog}}
    {{/if}}
    {{else}}
    <div class="nav_spaceholder" />
    <div class="nav_links">

      {{yield (hash template=(component "link-to" class="nav_links_item nav_links_fromLeft"))}}
    </div>
    {{/if}}
  </nav>
</header>